<a href="https://colab.research.google.com/github/Zuby128/python_lessons/blob/main/21_01_18.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
list_num = [1,2,3,4,5,6,7]
evens=0
odds=0
for i in list_num:
  if i % 2 == 0:
    evens += 1
  else:
    odds += 1

print(evens, odds)

3 4

In [ ]:
for i in range(10):
  print(str(i)*i)

1
22
333
4444
55555
666666
7777777
88888888
999999999

In [ ]:
sum(range(1,75))

2775

In [ ]:
sum_num = 0
for i in range(1, 75):
     sum_num += i
print(sum_num)

2775

In [ ]:
groc = ["bread", "water", "olive"]
enum_gro = enumerate(groc)
print(type(enum_gro))
print(list(enum_gro))
print(list(enumerate(groc, start=10)))

<class 'enumerate'>
[(0, 'bread'), (1, 'water'), (2, 'olive')]
[(10, 'bread'), (11, 'water'), (12, 'olive')]

In [ ]:
print(round(3.665, 2))
print(round(3.675, 2))

3.67
3.67