<a href="https://colab.research.google.com/github/Zuby128/python_lessons/blob/main/21_01_23.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def organizer(**kwargs):
  ages=[]
  names=[]
  for key, value in kwargs.items():
    names.append(key)
    ages.append(value)
  print(names, "\n", ages)

organizer(a="3", b="2")

['a', 'b']
 ['3', '2']

In [ ]:
def merger(arg1, arg2, arg3, arg4):
  print(f"for me, {arg3}, {arg1}, {arg2} and {arg4} are geniuses")

genius=("a", "b", "c", "d")
merger(*genius)

for me, c, a, b and d are geniuses

In [ ]:
def meaner(a,b,c):
  print(f"avarege of {a}, {b} and {c}'s ages is {(a+b+c)/3}")

friends = {"a":40, "b":30, "c":50}
meaner(**friends)

avarege of 40, 30 and 50's ages is 40.0

In [ ]:
def meaner(a,b,c):
  print(f"avarege of {a}, {b} and {c}'s ages is {sum([a,b,c])/3}")  # sum() takes one or two parameters

friends = {"a":40, "b":30, "c":50}
meaner(**friends)

avarege of 40, 30 and 50's ages is 40.0

In [ ]:
condition = True
if condition:
  a=1
else:
  a=0
print(a)

x = 1 if condition else 0
print(x)

1
1

In [ ]:
lambda x: "odd" if x % 2 != 0 else "even"

In [ ]:
print((lambda x: x[::-1])("clarusway"))

yawsuralc

In [ ]:
for i in range(6):
  i = (lambda x: "odd" if x % 2 != 0 else "even")

<function <lambda> at 0x7f1ecd716c80>